a{
    text-decoration: none;
}

.dropdown-toggle, .dropdown-menu{
    cursor: pointer;
}

.ml-2{
    margin-left: 5px;
}

img{
    max-height: 40px;
    border: 2px solid #fff;
    display: inline;
    border-radius: 50%;
}